
<div class="course">
    <div class="course_image"><img src="assets/images/cour.png" alt=""></div>
    <div class="course_body">
        <div class="course_title"><a href="course.html">{{obj.name}}</a></div>
        <div class="course_info">
            <ul>
                <li><a href="instructors.html">{{obj.teacherID.firstName}} {{obj.teacherID.lastName}}</a></li>
            </ul>
        </div>
        <div class="course_text">
            <p>{{obj.description}}</p>
        </div>
    </div>
    <div class="course_footer d-flex flex-row align-items-center justify-content-start">
        <div class="course_students"><i class="fa fa-user" aria-hidden="true"></i><span>10</span></div>
        <div class="course_rating ml-auto"><i class="fa fa-star" aria-hidden="true"></i><span>4,5</span></div>
        <div class="course_mark course_free trans_200"><a href="#">{{obj.duration}}</a></div>
    </div>
</div>