<div class="events" style="margin-top: 150px;">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="section_title text-center">{{obj.name}}</h2>
            </div>
        </div>
        <div class="row events_row">
            
            <!-- Event -->
            <div class="col-lg-4 event_col" style="margin-left: 350px;">
                <div class="event">
                    <div class="event_image"><img src="assets/images/courseinfo.jpg" alt=""></div>
                    <div class="event_date d-flex flex-column align-items-center justify-content-center">
                        <div class="event_day">{{obj.duration}}</div>
                        <div class="event_month">Mois</div>
                    </div>
                    <div class="event_body d-flex flex-row align-items-center justify-content-start">
                        <div class="event_title"><a href="#">{{obj.description}}</a></div>
                        <div class="event_tag ml-auto">200$</div>
                    </div>
                </div>
            </div>

            <!-- Event -->
           

            <!-- Event -->
         

        </div>
    </div>
</div>

