<div class="register">
    <div class="container">
        <div class="row">
            
            <!-- Register Form -->

            <div class="col-lg-6">
                <div class="register_form_container">
                    <div class="register_form_title">Courses For Free</div>
                    <form action="#" id="register_form" class="register_form">
                        <div class="row register_row">
                            <div class="col-lg-6 register_col">
                                <input type="text" class="form_input" placeholder="Name" required="required">
                            </div>
                            <div class="col-lg-6 register_col">
                                <input type="email" class="form_input" placeholder="Email" required="required">
                            </div>
                            <div class="col-lg-6 register_col">
                                <input type="tel" class="form_input" placeholder="Phone">
                            </div>
                            <div class="col-lg-6 register_col">
                                <input type="url" class="form_input" placeholder="Site">
                            </div>
                            <div class="col">
                                <button type="submit" class="form_button trans_200">get it now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Register Timer -->

            <div class="col-lg-6">
                <div class="register_timer_container">
                    <div class="register_timer_title">Register Now</div>
                    <div class="register_timer_text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis fringilla tortor.</p>
                    </div>
                    <div class="timer_container">
                        <ul class="timer_list">
                            <li><div id="day" class="timer_num">00</div><div class="timer_ss">days</div></li>
                            <li><div id="hour" class="timer_num">00</div><div class="timer_ss">hours</div></li>
                            <li><div id="minute" class="timer_num">00</div><div class="timer_ss">minutes</div></li>
                            <li><div id="second" class="timer_num">00</div><div class="timer_ss">seconds</div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>