
<!-- <div class="courses" style="margin: 200px;">
    <div class="courses_background"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="section_title text-center">Popular Online Courses</h2>
            </div>
        </div>
     

            
         
         
              
               
            

        
    </div>
</div> -->
<div style="margin-top: 200px;">
    <app-blog-info-user [obj]="userObj"></app-blog-info-user>
</div>